@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* @font-face {
    font-family: "Roboto Condensed" ;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Roboto_Condensed-Black.ttf") format("truetype");

} */
 
/* .roboto-condensed- {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
   */


@theme{
    --font-roboto: 'Roboto Condensed', serif;
    --color-lightturquoise : #43c9aa;
    --color-transturquoise : #38e8be;
    --color-darkturquoise : #25886c;
    --color-transindigo : #4402d1;
    --color-indigo : #4320dd;
    --color-lime : #d1ff00;
    --color-translime : #c3dd1e;
    --color-pink : #f9bde1;
    --color-transpink : #e8b1d2;
    --color-darkblack : #131313;
    --color-offwhite : #f9f9f8;
    --color-orange : #fe3d00;
    --color-transorange : #e83902;
    --color-darkgray : #313131;

}